@import 'MarkerCluster.css';
@import 'MarkerCluster.Default';

/* template's css is getting the way */
input[type=checkbox], input[type=radio] {
  display: inline;
  height: auto;
  opacity: 1;
  position: static;
  width: auto;
}

.map {
  height: 600px;
}

@media all and (max-height: 667px) {
  .map {
    height: 500px;
  }
}

@media all and (max-height: 500px) {
  .map {
    height: 400px;
  }
}

@media all and (max-height: 400px) {
  .map {
    height: 300px;
  }
}

.popup {
  table {
    font-size: 1em;
  }
  td, th {
    background: none;
    border: none;
    border-bottom: 1px solid #EFEFEF;
  }
  tr:last-child td, tr:last-child th {
    border: 0;
  }
  th {
    padding-left: 0;
    white-space: nowrap;
    font-weight: 500;
  }
}

.scale {
  circle {
    stroke-opacity: .8;
    fill-opacity: .6;
  }
  li {
    margin: 0 12px 0 0;
    display: inline-block;
  }
  span {
    margin-left: 3px;
    display: block;
    float: left;
  }
  svg {
    width: 18px;
    height: 18px;
    float: left;
  }
}

/* Quell long attributions */
.leaflet-control-attribution {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* override markerclusterer colors b/c they conflict with vs30 colors */
.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
  background-color: rgba(212, 223, 255, 0.6) !important;
}
.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
  background-color: rgba(187, 174, 255, 0.6) !important;
}

/* not sure why this is necessary to prevent a gap in popup and tip on e.g. Chrome */
.leaflet-popup-tip-container {
  margin-top: -1px !important;
}
